h1{
    text-align: center;
}
.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color:white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 3);
}
.judul{
    background-color: purple;
}
.card-container{
    display:flex;
    justify-content: space-between;
    gap: 50px;
    background-color: blue;
}
.card{
    gap: 20px;
    
    
}